<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .completed {
      color: lightgray;
      text-decoration: line-through;
    }
  </style>
</head>
<body>
  <div id="app">
    <select v-model="status">
      <option value="all">전체</option>
      <option value="inProgress">진행중</option>
      <option value="completed">완료</option>
    </select>
    <input type="text" v-model="todo">
    <button @click="saveTodo">+</button>
    <!-- 리스트로 할 일 출력 -->
    <ul>
      <li v-for="todo in todoListbyStatus" :key="todo.key">
        <!-- 단방향 바인딩 -->
        <!-- <input type="checkbox" :checked="todo.isCompleted" @click="변경업데이트함수"> -->
        <!-- 양방향 바인딩으로 checked 표현 -->
        <input type="checkbox" v-model="todo.isCompleted">
        <!-- todo.isCompleted의 값에 따라 class의 유무가 결정 -->
        <span :class="{ completed: todo.isCompleted }">{{ todo.content }}</span>
      </li>
    </ul>
    <!-- 완료된 내역 지우는 버튼 -->
    <button @click="delCompletedTodo">완료된 할 일 지우기</button>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    // todo 의 내용만 저장하기 위한 키:벨류에서 키!
    const STORAGE_KEY = 'TODO'
    // 로컬스토리지의 저장, 읽어오는 부분을 정의
    const todoStorage = {
      save: function (todoList) {
        localStorage.setItem(STORAGE_KEY, JSON.stringify(todoList))
      },
      read: function () {
        return JSON.parse(localStorage.getItem(STORAGE_KEY)) || []
      }
    }

    // 저장하는 방식
    // localStorage.setItem(STORAGE_KEY, todoStorage)
    // 읽어오는 방식
    // todoStarage = localStorage.getItem(STORAGE_KEY)

    const app = new Vue({
      el: '#app',
      data: {
        todoList: todoStorage.read(),
        todo: '',
        status: 'all',
      },

      methods: {
        saveTodo: function () {
          // 입력된 todo를 가지고 object 로 작성
          const result = {
            content: this.todo,
            isCompleted: false,
            key: Date.now()
          }
          // 오브젝트를 todoList에 저장
          this.todoList.push(result)
          this.todo = ''

          // watch 에서 동작 // localStorage 에도 저장
          // localStorage.setItem(STORAGE_KEY, this.todoList)
        },

        delCompletedTodo: function () {
          this.todoList = this.todoList.filter(todo => {
            return !todo.isCompleted
          })
        }
      },
      // this.status 값에 영향을 받음.
      // computed에서 계산을 하여 캐시 메모리에 저장.
      computed: {
        todoListbyStatus: function () {
          const tempList = this.todoList.filter(todo => {
            // status가 진행중 일 때
            if (this.status === 'inProgress') {
              return !todo.isCompleted
              // status가 완료 일 때
            } else if (this.status === 'completed') {
              return todo.isCompleted
              // status가 all 일 때
            } else {
              return true
            }
          })
          // 반드시 리턴이 존재해야 함!!!
          return tempList
        }
      },

      watch: {
        // deep 옵션 주는 방법
        todoList: {
          handler: function () {
            console.log('!!!!WATCH!!!!!')
            todoStorage.save(this.todoList)
          },
          deep: true
          // 중첩된 값이란??
          // 내부 깊이 있는 값의 변화도 지켜보기 위해 deep 옵션을 true로 설정
          /*
           {
             a: {
               b:{
                 c: true, // 중첩된 값
               }
             }
           }
          */
        }
        // 옵션 없이 사용하는 방법
        // todoList: function () {
        //   // localStorage 에도 저장
        //   console.log('!!!!WATCH!!!!!')
        //   localStorage.setItem(STORAGE_KEY, JSON.stringify(this.todoList))
        // }
      }
    })
  </script>
</body>
</html>